.App {
  text-align: center;
  display: flex;
  background-color: coral;
}

.centerTextHeader {
  text-align: center;
  text-shadow: 2px 2px 2px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Courier New', Courier, monospace;
  text-indent: 50px;
  font-size: 75px;
  background-image: url('https://images.pexels.com/photos/796607/pexels-photo-796607.jpeg?cs=srgb&dl=pexels-ylanite-koppens-796607.jpg&fm=jpg');
  background-color: coral;
  background-position: 50%;
}

.centerText {
  text-align: center;
  padding-bottom: 35px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-indent: 50px;
  font-size: 20px;
}

div {
  background-color: coral;
}

html {
  background-color: coral;
}